In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from mpl_toolkits.axes_grid1 import make_axes_locatable
import kmapper as km
import pyballmapper as pbm
import statistics
import seaborn as sns
from matplotlib.colors import ListedColormap
from matplotlib import colormaps as cm
import networkx as nx

/Users/elliebarranbeck/ERP clean/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Election Data

https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ

In [2]:
# County Presidential Election Returns 2000-2020
df=pd.read_csv('US_data/countypres_2000-2020.csv')

In [3]:
df.head()

,year,state,state_po,county_name,county_fips,office,candidate,party,candidatevotes,totalvotes,version,mode
0,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,AL GORE,DEMOCRAT,4942,17208,20220315,TOTAL
1,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,GEORGE W. BUSH,REPUBLICAN,11993,17208,20220315,TOTAL
2,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,RALPH NADER,GREEN,160,17208,20220315,TOTAL
3,2000,ALABAMA,AL,AUTAUGA,1001.0,US PRESIDENT,OTHER,OTHER,113,17208,20220315,TOTAL
4,2000,ALABAMA,AL,BALDWIN,1003.0,US PRESIDENT,AL GORE,DEMOCRAT,13997,56480,20220315,TOTAL

In [48]:
## Extracting the useful columns 
cols = ['year',
        'state',
        'county_name',
        'county_fips',
         'party',
         'candidatevotes'
         ,'totalvotes']

data = df[cols]
#calculating vote percentages
data['percentagevotes']=data['candidatevotes']/data['totalvotes']*100
pv = data.pivot_table(index=['county_fips','county_name','state'], columns=['party','year'], values='percentagevotes')
pv=pv.reset_index()

/var/folders/xf/8y4gbp61673b4f2br89yscz40000gn/T/ipykernel_37195/2920509478.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['percentagevotes']=data['candidatevotes']/data['totalvotes']*100

In [5]:
pv.columns = [f'{party}_{year}' if year else f'{party}' for party, year in pv.columns]
# Reset index
pv = pv.reset_index()
pv

,index,county_fips,county_name,state,DEMOCRAT_2000,DEMOCRAT_2004,DEMOCRAT_2008,DEMOCRAT_2012,DEMOCRAT_2016,DEMOCRAT_2020,...,OTHER_2008,OTHER_2012,OTHER_2016,OTHER_2020,REPUBLICAN_2000,REPUBLICAN_2004,REPUBLICAN_2008,REPUBLICAN_2012,REPUBLICAN_2016,REPUBLICAN_2020
0,0,1001.0,AUTAUGA,ALABAMA,28.719200,23.694039,25.773021,26.587832,23.769671,27.018365,...,0.613341,0.793916,3.463741,1.544833,69.694328,75.673522,73.613637,72.618252,72.766588,71.436802
1,1,1003.0,BALDWIN,ALABAMA,24.782224,22.502885,23.811922,21.589444,19.385601,22.409030,...,0.928599,1.052286,4.068687,1.419597,72.365439,76.415176,75.259479,77.358269,76.545712,76.171373
2,2,1005.0,BARBOUR,ALABAMA,49.908610,44.836225,48.985383,51.368494,46.527844,45.788173,...,0.576096,0.408376,1.375490,0.760601,49.023569,54.736940,50.438521,48.223130,52.096666,53.451226
3,3,1007.0,BIBB,ALABAMA,38.163639,27.486842,26.596483,26.152019,21.249575,20.698280,...,0.960204,1.021378,2.347205,0.875456,60.174623,72.000000,72.443313,72.826603,76.403220,78.426264
4,4,1009.0,BLOUNT,ALABAMA,27.691537,18.312872,14.513537,12.371907,8.425825,9.569378,...,1.467013,1.162209,2.239331,0.859069,70.477939,80.850074,84.019450,86.465884,89.334844,89.571553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,3190,56039.0,TETON,WYOMING,38.529384,52.575051,60.457966,54.195743,57.923497,66.599040,...,2.605389,3.428123,11.023996,2.319605,52.286454,45.109605,36.936645,42.376134,31.052507,29.356868
3191,3191,56041.0,UINTA,WYOMING,22.243192,22.460092,27.524353,19.065464,14.191263,16.819960,...,4.015206,3.466448,13.152302,2.114388,73.726072,75.250588,68.460442,77.468088,72.656434,79.247278
3192,3192,56043.0,WASHAKIE,WYOMING,19.896322,20.782693,25.414634,20.131846,13.948610,16.145833,...,2.487805,3.448276,9.727320,1.760913,77.462355,77.783179,72.097561,76.419878,76.324069,80.481151
3193,3193,56045.0,WESTON,WYOMING,14.673203,17.099057,19.273579,12.563263,8.479864,10.112360,...,4.042179,3.453409,5.501985,1.320225,82.385621,80.748821,76.684241,83.983328,86.018151,87.275281
3194,3194,2938000.0,KANSAS CITY,MISSOURI,NaN,73.980187,78.385840,77.243023,75.998631,78.788101,...,0.824310,1.186386,4.830445,0.199788,NaN,25.498681,20.789850,21.570591,19.170924,19.315013

In [49]:
pv['GEO_ID'] = pv['county_fips'].astype(int)

In [50]:
elec_data=pv[['GEO_ID','county_name','state','DEMOCRAT_2012','REPUBLICAN_2012','DEMOCRAT_2016','REPUBLICAN_2016']]

KeyError: "['DEMOCRAT_2012' 'REPUBLICAN_2012' 'DEMOCRAT_2016' 'REPUBLICAN_2016'] not in index"

# Demographic Data

Census and American Community Survey from 2016 using 5 year estimates
https://data.census.gov/

In [8]:
elec_data.to_csv('US results/Output datasets/election_data_US.csv')

## Education

In [10]:
edu_data=pd.read_csv('US_data/education.csv')

In [11]:
edu_data

,GEO_ID,Nohighschool_1824,Highschool_1824,Somedegree_1824,Degree_1824,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus
0,0500000US01001,18.8,37.5,36.2,7.4,12.4,34.3,21.5,7.1,24.6
1,0500000US01003,18.7,31.9,41.3,8.1,9.9,28.7,22.4,9.4,29.5
2,0500000US01005,21.6,44.2,30.7,3.5,26.3,34.9,17.8,8.2,12.9
3,0500000US01007,25.5,31.1,42.0,1.5,19.3,41.8,21.1,5.8,12.0
4,0500000US01009,18.2,32.8,46.1,2.9,19.9,32.9,22.5,11.6,13.0
...,...,...,...,...,...,...,...,...,...,...
3215,0500000US72145,26.2,10.7,59.8,3.3,41.8,13.7,12.5,11.3,20.7
3216,0500000US72147,6.1,28.8,44.8,20.2,30.7,35.8,7.0,7.5,19.0
3217,0500000US72149,8.5,32.5,53.2,5.8,29.6,34.5,10.2,7.2,18.6
3218,0500000US72151,12.8,27.8,53.5,5.9,32.5,26.1,13.3,11.2,16.8
3219,0500000US72153,9.6,34.3,45.5,10.5,30.4,30.0,10.3,7.6,21.7

In [12]:
edu_data=edu_data[['GEO_ID','Nohighschool_25plus', 'Highschool_25plus',
       'Somedegree_25plus', 'Assocdegree_25plus', 'Degree_25plus']]

## Age

In [13]:
age_data=pd.read_csv('US_data/age.csv')

In [14]:
age_data.describe()

,Under18,18to24,25to29,30to34,35to39,40to44,45to49,50to54,55to59,60to64,Over65
count,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,22.574099,9.037640,5.797329,5.877950,5.711553,5.976988,6.344441,7.201988,7.273199,6.654969,17.548230
std,3.459112,3.526647,1.342807,1.107852,1.018101,1.012998,0.880416,0.922570,1.294687,1.341200,4.459395
min,1.100000,0.700000,0.000000,0.000000,0.000000,1.100000,0.300000,0.000000,1.800000,1.400000,3.900000
25%,20.500000,7.400000,5.000000,5.300000,5.100000,5.400000,5.900000,6.800000,6.500000,5.800000,14.700000
50%,22.500000,8.300000,5.700000,5.800000,5.700000,6.000000,6.400000,7.200000,7.200000,6.500000,17.200000
75%,24.300000,9.600000,6.400000,6.400000,6.300000,6.600000,6.900000,7.700000,7.900000,7.300000,19.825000
max,40.300000,55.700000,15.200000,15.100000,10.200000,15.800000,12.500000,13.900000,31.600000,15.100000,53.100000

In [15]:
age_data['25to34']=age_data['25to29']+age_data['30to34']
age_data['35to49']=age_data['35to39']+age_data['40to44']+age_data['45to49']
age_data['50to64']=age_data['50to54']+age_data['55to59']+age_data['60to64']

In [16]:
age_data.columns

Index(['GEO_ID', 'Under18', '18to24', '25to29', '30to34', '35to39', '40to44',
       '45to49', '50to54', '55to59', '60to64', 'Over65', '25to34', '35to49',
       '50to64'],
      dtype='object')

In [17]:
age_data=age_data[['GEO_ID', 'Under18', '18to24', '25to34', '35to49',
       '50to64','Over65', ]]

### Ethnicity

In [18]:
eth_data=pd.read_csv('US_data/ethnicity.csv')

In [19]:
eth_data

              GEO_ID  White  Black
0     0500000US01001   76.7   20.9
1     0500000US01003   88.0    9.0
2     0500000US01005   47.3   48.6
3     0500000US01007   77.5   20.8
4     0500000US01009   91.7    2.1
...              ...    ...    ...
3216  0500000US72145   59.4   16.6
3217  0500000US72147   35.8   26.0
3218  0500000US72149   58.3   16.0
3219  0500000US72151   43.9   20.1
3220  0500000US72153   61.9   11.7

[3221 rows x 3 columns]

### Rural/Urban

In [20]:
rural_data=pd.read_csv('US_data/rural_urban.csv')

In [21]:
rural_data['Rural']=(rural_data['Rural']/rural_data['Tot_pop '])*100

In [22]:
rural_data=rural_data[['GEO_ID','Rural']]

In [23]:
rural_data.describe()

             Rural
count  3221.000000
mean     62.770482
std      34.341945
min       0.000000
25%      33.509863
50%      65.105101
75%     100.000000
max     100.000000

### Income data

In [24]:
income_data=pd.read_csv('US_Data/income_cat.csv')
income_data['GEO_ID']=income_data['GEO_ID'].astype(object)

In [25]:
income_data

     GEO_ID  lessthan50K  50to75k  75to100k  morethan100k
0      1001         46.4     19.5      13.2          20.8
1      1003         48.5     18.6      12.0          20.9
2      1005         65.9     14.6       9.4           9.9
3      1007         60.3     17.7      11.4          10.6
4      1009         53.9     21.8      11.0          13.3
...     ...          ...      ...       ...           ...
3109  56037         36.3     18.6      15.1          30.0
3110  56039         29.4     20.3      14.3          36.0
3111  56041         47.7     16.4      13.3          22.5
3112  56043         53.4     20.4      11.9          14.3
3113  56045         46.7     15.3      16.5          21.4

[3114 rows x 5 columns]

In [26]:
income_data.describe()

       lessthan50K      50to75k     75to100k  morethan100k
count  3114.000000  3114.000000  3114.000000   3114.000000
mean     52.949615    18.539788    11.672319     16.839274
std      10.404013     2.787136     2.709991      7.932256
min      14.800000     6.600000     1.300000      2.500000
25%      46.500000    16.800000     9.900000     11.600000
50%      53.400000    18.600000    11.900000     15.000000
75%      60.300000    20.300000    13.500000     19.800000
max      83.000000    30.200000    32.400000     63.000000

### Industry data

In [27]:
industry_data=pd.read_csv('US_data/industry.csv')

In [28]:
industry_data.describe()

          manu_arg
count  3220.000000
mean     19.032764
std       8.307970
min       0.200000
25%      12.800000
50%      18.500000
75%      24.500000
max      69.600000

### Unemployment data

In [29]:
unemp_data=pd.read_csv('US_data/unemployment.csv')

In [30]:
poverty_data=pd.read_csv('US_data/poverty.csv')

In [31]:
poverty_data

              GEO_ID  Poverty
0     0500000US01001     12.3
1     0500000US01003     13.0
2     0500000US01005     26.4
3     0500000US01007     16.5
4     0500000US01009     16.5
...              ...      ...
3215  0500000US72145     46.0
3216  0500000US72147     35.9
3217  0500000US72149     50.8
3218  0500000US72151     49.5
3219  0500000US72153     50.3

[3220 rows x 2 columns]

In [32]:
health_data=pd.read_csv('US_data/countyhealth.csv')
health_data=health_data.dropna()
health_data['FIPS']=health_data['FIPS'].astype(object)
health_data[['Adult obesity raw value','Poor or fair health raw value','Unemployment raw value']]=health_data[['Adult obesity raw value','Poor or fair health raw value','Unemployment raw value']]*100

In [33]:
health_data.tail()

,FIPS,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value
3187,56037,29.2,13.9,4.162206
3188,56039,12.5,11.1,4.795996
3189,56041,29.6,14.7,5.034880
3190,56043,24.7,14.3,4.511628
3191,56045,29.4,13.4,3.425693

In [34]:
health_data.describe()

,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value
count,3190.000000,3190.000000,3190.000000
mean,30.903301,16.913346,6.258686
std,4.467052,4.951684,2.287594
min,10.700000,7.200000,1.188560
25%,28.500000,13.000000,4.674522
50%,31.100000,15.900000,6.033636
75%,33.675000,20.000000,7.500364
max,46.600000,41.700000,23.668430

## Merged dataset

In [35]:
demo_data = (edu_data
             .merge(age_data, on='GEO_ID')
             .merge(eth_data, on='GEO_ID')
             .merge(rural_data, on='GEO_ID')
             .merge(industry_data, on='GEO_ID')
             .merge(poverty_data,on='GEO_ID'))

In [36]:
demo_data

,GEO_ID,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty
0,0500000US01001,12.4,34.3,21.5,7.1,24.6,25.2,8.6,12.2,21.0,19.1,14.0,76.7,20.9,41.030801,15.2,12.3
1,0500000US01003,9.9,28.7,22.4,9.4,29.5,22.2,7.7,11.3,19.1,21.0,18.7,88.0,9.0,32.815672,10.6,13.0
2,0500000US01005,26.3,34.9,17.8,8.2,12.9,21.5,9.4,13.8,19.1,19.7,16.5,47.3,48.6,64.882080,26.9,26.4
3,0500000US01007,19.3,41.8,21.1,5.8,12.0,21.1,9.2,13.8,21.4,19.7,14.9,77.5,20.8,100.000000,25.0,16.5
4,0500000US01009,19.9,32.9,22.5,11.6,13.0,23.6,8.0,11.5,19.8,19.9,17.2,91.7,2.1,90.719682,18.5,16.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214,0500000US72145,41.8,13.7,12.5,11.3,20.7,22.2,9.8,12.7,19.3,19.0,17.1,59.4,16.6,5.602611,17.2,46.0
3215,0500000US72147,30.7,35.8,7.0,7.5,19.0,21.7,9.7,9.8,18.0,21.2,19.6,35.8,26.0,21.157835,7.3,35.9
3216,0500000US72149,29.6,34.5,10.2,7.2,18.6,24.2,11.4,12.2,18.4,19.7,14.1,58.3,16.0,17.892958,21.5,50.8
3217,0500000US72151,32.5,26.1,13.3,11.2,16.8,22.0,9.9,11.7,19.1,20.7,16.5,43.9,20.1,16.971225,18.9,49.5
3218,0500000US72153,30.4,30.0,10.3,7.6,21.7,21.4,9.1,11.7,19.2,20.3,18.3,61.9,11.7,17.205856,16.4,50.3

In [37]:
demo_data['GEO_ID'] = demo_data['GEO_ID'].str.replace('0500000US', '', regex=False).astype(int)
demo_data=demo_data.merge(income_data, on='GEO_ID')

In [38]:
demo_data

,GEO_ID,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,...,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k
0,1001,12.4,34.3,21.5,7.1,24.6,25.2,8.6,12.2,21.0,...,14.0,76.7,20.9,41.030801,15.2,12.3,46.4,19.5,13.2,20.8
1,1003,9.9,28.7,22.4,9.4,29.5,22.2,7.7,11.3,19.1,...,18.7,88.0,9.0,32.815672,10.6,13.0,48.5,18.6,12.0,20.9
2,1005,26.3,34.9,17.8,8.2,12.9,21.5,9.4,13.8,19.1,...,16.5,47.3,48.6,64.882080,26.9,26.4,65.9,14.6,9.4,9.9
3,1007,19.3,41.8,21.1,5.8,12.0,21.1,9.2,13.8,21.4,...,14.9,77.5,20.8,100.000000,25.0,16.5,60.3,17.7,11.4,10.6
4,1009,19.9,32.9,22.5,11.6,13.0,23.6,8.0,11.5,19.8,...,17.2,91.7,2.1,90.719682,18.5,16.5,53.9,21.8,11.0,13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,56037,9.3,34.1,24.9,10.3,21.4,27.5,9.1,15.5,18.7,...,9.4,91.1,1.6,12.071037,25.1,11.0,36.3,18.6,15.1,30.0
3110,56039,4.6,15.8,19.5,6.2,53.8,19.5,5.7,20.0,22.7,...,11.8,91.4,0.5,62.744654,6.9,7.3,29.4,20.3,14.3,36.0
3111,56041,10.4,36.6,26.1,8.8,18.2,29.6,8.0,12.7,18.6,...,10.7,93.6,0.8,42.521028,15.5,16.8,47.7,16.4,13.3,22.5
3112,56043,12.5,30.8,27.0,8.6,21.1,24.8,5.3,11.3,17.3,...,19.7,93.1,0.7,34.398545,22.8,14.7,53.4,20.4,11.9,14.3
3113,56045,8.6,32.7,30.9,9.0,18.8,21.1,6.8,10.4,18.6,...,18.4,95.2,1.0,100.000000,30.1,14.7,46.7,15.3,16.5,21.4

In [39]:
demo_data=demo_data.merge(health_data, left_on='GEO_ID',right_on='FIPS')

In [40]:
demo_data.describe()

,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,...,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value
count,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,...,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000,3114.000000
mean,14.224277,34.587091,21.880861,8.525498,20.783847,22.558703,9.009955,11.634586,18.002216,21.168433,...,63.754916,19.218915,16.418979,52.949615,18.539788,11.672319,16.839274,30.947559,16.923892,6.228573
std,6.542912,7.070799,3.792383,2.555754,9.139611,3.422010,3.573370,2.247991,2.122785,2.797690,...,33.772956,8.295985,6.505763,10.404013,2.787136,2.709991,7.932256,4.468338,4.959968,2.233174
min,1.300000,6.500000,8.300000,0.600000,3.000000,3.900000,0.700000,0.000000,4.900000,5.200000,...,0.000000,0.200000,1.800000,14.800000,6.600000,1.300000,2.500000,10.700000,7.200000,1.188560
25%,9.300000,30.200000,19.325000,6.800000,14.400000,20.500000,7.300000,10.300000,16.700000,19.600000,...,35.146463,13.000000,11.800000,46.500000,16.800000,9.900000,11.600000,28.500000,13.000000,4.660904
50%,12.800000,34.900000,21.800000,8.300000,18.500000,22.500000,8.200000,11.400000,18.100000,21.200000,...,66.050346,18.700000,15.700000,53.400000,18.600000,11.900000,15.000000,31.200000,15.900000,6.018293
75%,18.300000,39.600000,24.300000,10.100000,24.700000,24.300000,9.500000,12.700000,19.200000,22.700000,...,100.000000,24.700000,19.900000,60.300000,20.300000,13.500000,19.800000,33.700000,20.000000,7.489068
max,51.500000,54.600000,36.300000,19.500000,80.200000,40.300000,55.700000,26.900000,29.400000,44.800000,...,100.000000,69.600000,48.700000,83.000000,30.200000,32.400000,63.000000,46.600000,41.700000,23.617721

In [41]:
demo_data.columns

Index(['GEO_ID', 'Nohighschool_25plus', 'Highschool_25plus',
       'Somedegree_25plus', 'Assocdegree_25plus', 'Degree_25plus', 'Under18',
       '18to24', '25to34', '35to49', '50to64', 'Over65', 'White', 'Black',
       'Rural', 'manu_arg', 'Poverty', 'lessthan50K', '50to75k', '75to100k',
       'morethan100k', 'FIPS', 'Adult obesity raw value',
       'Poor or fair health raw value', 'Unemployment raw value'],
      dtype='object')

In [42]:
#Output to latex
summary=demo_data.drop(['FIPS','GEO_ID'],axis=1 ).describe()
summary=summary.transpose()
summary=summary.round(2)
summary = summary.applymap(lambda x: '{:.2f}'.format(x).rstrip('0').rstrip('.'))
latex_code = summary.to_latex(index=True)
print(latex_code)

\begin{tabular}{lllllllll}
\toprule
 & count & mean & std & min & 25% & 50% & 75% & max \\
\midrule
Nohighschool_25plus & 3114 & 14.22 & 6.54 & 1.3 & 9.3 & 12.8 & 18.3 & 51.5 \\
Highschool_25plus & 3114 & 34.59 & 7.07 & 6.5 & 30.2 & 34.9 & 39.6 & 54.6 \\
Somedegree_25plus & 3114 & 21.88 & 3.79 & 8.3 & 19.32 & 21.8 & 24.3 & 36.3 \\
Assocdegree_25plus & 3114 & 8.53 & 2.56 & 0.6 & 6.8 & 8.3 & 10.1 & 19.5 \\
Degree_25plus & 3114 & 20.78 & 9.14 & 3 & 14.4 & 18.5 & 24.7 & 80.2 \\
Under18 & 3114 & 22.56 & 3.42 & 3.9 & 20.5 & 22.5 & 24.3 & 40.3 \\
18to24 & 3114 & 9.01 & 3.57 & 0.7 & 7.3 & 8.2 & 9.5 & 55.7 \\
25to34 & 3114 & 11.63 & 2.25 & 0 & 10.3 & 11.4 & 12.7 & 26.9 \\
35to49 & 3114 & 18 & 2.12 & 4.9 & 16.7 & 18.1 & 19.2 & 29.4 \\
50to64 & 3114 & 21.17 & 2.8 & 5.2 & 19.6 & 21.2 & 22.7 & 44.8 \\
Over65 & 3114 & 17.62 & 4.45 & 3.9 & 14.8 & 17.3 & 19.9 & 53.1 \\
White & 3114 & 83.53 & 16.41 & 10.1 & 75.8 & 89.7 & 96.1 & 99.5 \\
Black & 3114 & 9.97 & 14.48 & 0.2 & 1.2 & 3.3 & 12 & 88.6 \\
Rural & 3114 & 63.75 & 33.77 & 0 & 35.15 & 66.05 & 100 & 100 \\
manu_arg & 3114 & 19.22 & 8.3 & 0.2 & 13 & 18.7 & 24.7 & 69.6 \\
Poverty & 3114 & 16.42 & 6.51 & 1.8 & 11.8 & 15.7 & 19.9 & 48.7 \\
lessthan50K & 3114 & 52.95 & 10.4 & 14.8 & 46.5 & 53.4 & 60.3 & 83 \\
50to75k & 3114 & 18.54 & 2.79 & 6.6 & 16.8 & 18.6 & 20.3 & 30.2 \\
75to100k & 3114 & 11.67 & 2.71 & 1.3 & 9.9 & 11.9 & 13.5 & 32.4 \\
morethan100k & 3114 & 16.84 & 7.93 & 2.5 & 11.6 & 15 & 19.8 & 63 \\
Adult obesity raw value & 3114 & 30.95 & 4.47 & 10.7 & 28.5 & 31.2 & 33.7 & 46.6 \\
Poor or fair health raw value & 3114 & 16.92 & 4.96 & 7.2 & 13 & 15.9 & 20 & 41.7 \\
Unemployment raw value & 3114 & 6.23 & 2.23 & 1.19 & 4.66 & 6.02 & 7.49 & 23.62 \\
\bottomrule
\end{tabular}

/var/folders/xf/8y4gbp61673b4f2br89yscz40000gn/T/ipykernel_37195/3538990198.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  summary = summary.applymap(lambda x: '{:.2f}'.format(x).rstrip('0').rstrip('.'))

In [43]:
US_full_dataset=demo_data.merge(elec_data, on='GEO_ID')

In [44]:
US_full_dataset

,GEO_ID,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,...,FIPS,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,county_name,state,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016
0,1001,12.4,34.3,21.5,7.1,24.6,25.2,8.6,12.2,21.0,...,1001,30.9,19.4,5.883047,AUTAUGA,ALABAMA,26.587832,72.618252,23.769671,72.766588
1,1003,9.9,28.7,22.4,9.4,29.5,22.2,7.7,11.3,19.1,...,1003,26.7,16.0,6.053720,BALDWIN,ALABAMA,21.589444,77.358269,19.385601,76.545712
2,1005,26.3,34.9,17.8,8.2,12.9,21.5,9.4,13.8,19.1,...,1005,40.8,25.7,10.809275,BARBOUR,ALABAMA,51.368494,48.223130,46.527844,52.096666
3,1007,19.3,41.8,21.1,5.8,12.0,21.1,9.2,13.8,21.4,...,1007,40.1,22.0,7.137850,BIBB,ALABAMA,26.152019,72.826603,21.249575,76.403220
4,1009,19.9,32.9,22.5,11.6,13.0,23.6,8.0,11.5,19.8,...,1009,32.4,20.7,6.146908,BLOUNT,ALABAMA,12.371907,86.465884,8.425825,89.334844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,56037,9.3,34.1,24.9,10.3,21.4,27.5,9.1,15.5,18.7,...,56037,29.2,13.9,4.162206,SWEETWATER,WYOMING,28.256881,67.641314,18.861646,70.951547
3110,56039,4.6,15.8,19.5,6.2,53.8,19.5,5.7,20.0,22.7,...,56039,12.5,11.1,4.795996,TETON,WYOMING,54.195743,42.376134,57.923497,31.052507
3111,56041,10.4,36.6,26.1,8.8,18.2,29.6,8.0,12.7,18.6,...,56041,29.6,14.7,5.034880,UINTA,WYOMING,19.065464,77.468088,14.191263,72.656434
3112,56043,12.5,30.8,27.0,8.6,21.1,24.8,5.3,11.3,17.3,...,56043,24.7,14.3,4.511628,WASHAKIE,WYOMING,20.131846,76.419878,13.948610,76.324069
3113,56045,8.6,32.7,30.9,9.0,18.8,21.1,6.8,10.4,18.6,...,56045,29.4,13.4,3.425693,WESTON,WYOMING,12.563263,83.983328,8.479864,86.018151

In [45]:
summary=US_full_dataset.describe()
summary=summary.transpose()
summary=summary.round(2)
summary = summary.applymap(lambda x: '{:.2f}'.format(x).rstrip('0').rstrip('.'))
latex_code = summary.to_latex(index=True)
print(latex_code)

\begin{tabular}{lllllllll}
\toprule
 & count & mean & std & min & 25% & 50% & 75% & max \\
\midrule
Nohighschool_25plus & 3114 & 14.22 & 6.54 & 1.3 & 9.3 & 12.8 & 18.3 & 51.5 \\
Highschool_25plus & 3114 & 34.59 & 7.07 & 6.5 & 30.2 & 34.9 & 39.6 & 54.6 \\
Somedegree_25plus & 3114 & 21.88 & 3.79 & 8.3 & 19.32 & 21.8 & 24.3 & 36.3 \\
Assocdegree_25plus & 3114 & 8.53 & 2.56 & 0.6 & 6.8 & 8.3 & 10.1 & 19.5 \\
Degree_25plus & 3114 & 20.78 & 9.14 & 3 & 14.4 & 18.5 & 24.7 & 80.2 \\
Under18 & 3114 & 22.56 & 3.42 & 3.9 & 20.5 & 22.5 & 24.3 & 40.3 \\
18to24 & 3114 & 9.01 & 3.57 & 0.7 & 7.3 & 8.2 & 9.5 & 55.7 \\
25to34 & 3114 & 11.63 & 2.25 & 0 & 10.3 & 11.4 & 12.7 & 26.9 \\
35to49 & 3114 & 18 & 2.12 & 4.9 & 16.7 & 18.1 & 19.2 & 29.4 \\
50to64 & 3114 & 21.17 & 2.8 & 5.2 & 19.6 & 21.2 & 22.7 & 44.8 \\
Over65 & 3114 & 17.62 & 4.45 & 3.9 & 14.8 & 17.3 & 19.9 & 53.1 \\
White & 3114 & 83.53 & 16.41 & 10.1 & 75.8 & 89.7 & 96.1 & 99.5 \\
Black & 3114 & 9.97 & 14.48 & 0.2 & 1.2 & 3.3 & 12 & 88.6 \\
Rural & 3114 & 63.75 & 33.77 & 0 & 35.15 & 66.05 & 100 & 100 \\
manu_arg & 3114 & 19.22 & 8.3 & 0.2 & 13 & 18.7 & 24.7 & 69.6 \\
Poverty & 3114 & 16.42 & 6.51 & 1.8 & 11.8 & 15.7 & 19.9 & 48.7 \\
lessthan50K & 3114 & 52.95 & 10.4 & 14.8 & 46.5 & 53.4 & 60.3 & 83 \\
50to75k & 3114 & 18.54 & 2.79 & 6.6 & 16.8 & 18.6 & 20.3 & 30.2 \\
75to100k & 3114 & 11.67 & 2.71 & 1.3 & 9.9 & 11.9 & 13.5 & 32.4 \\
morethan100k & 3114 & 16.84 & 7.93 & 2.5 & 11.6 & 15 & 19.8 & 63 \\
Adult obesity raw value & 3114 & 30.95 & 4.47 & 10.7 & 28.5 & 31.2 & 33.7 & 46.6 \\
Poor or fair health raw value & 3114 & 16.92 & 4.96 & 7.2 & 13 & 15.9 & 20 & 41.7 \\
Unemployment raw value & 3114 & 6.23 & 2.23 & 1.19 & 4.66 & 6.02 & 7.49 & 23.62 \\
DEMOCRAT_2012 & 3114 & 38.44 & 14.72 & 3.45 & 27.81 & 37.16 & 47.45 & 90.91 \\
REPUBLICAN_2012 & 3114 & 59.58 & 14.85 & 7.19 & 50.28 & 60.74 & 70.27 & 95.86 \\
DEMOCRAT_2016 & 3114 & 31.54 & 15.23 & 3.14 & 20.37 & 28.32 & 39.91 & 90.86 \\
REPUBLICAN_2016 & 3114 & 63.26 & 15.67 & 4.09 & 54.46 & 66.33 & 74.9 & 94.58 \\
\bottomrule
\end{tabular}

/var/folders/xf/8y4gbp61673b4f2br89yscz40000gn/T/ipykernel_37195/769151765.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  summary = summary.applymap(lambda x: '{:.2f}'.format(x).rstrip('0').rstrip('.'))

In [46]:
US_full_dataset.to_csv('US results/Outputs/US_fulldataset.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'US results/Outputs'

In [ ]:
columns=['REPUBLICAN_2016']
ball_rep=pd.DataFrame()
for col in columns:
    ball_rep[col]=US_results.groupby('ball')[col].mean()
ball_rep['Size'] = US_results.groupby('ball').size()

NameError: name 'US_results' is not defined

In [ ]:
ball_rep

      REPUBLICAN_2016  Size
ball
0           63.292547   926
1           56.907903   156
2           72.156954   922
3           37.005677    47
4           55.738564   174
5           69.101354   901
6           46.448863   251
7           36.035029    24
8           61.656207     1
9           43.074233     1
10          46.340287   226
11          35.584557    55
12          65.238624   184
13          55.646729   139
14          49.403716   106
15          64.169590   131
16          66.066563    34
17          40.457984    75
18          71.426111   702
19          54.207533   125
20          30.609674    40
21          61.210011   213
22          60.487056   355
23          57.906673    53
24          71.105619   180
25          49.231496   299
26          56.020476   159
27          57.549769   106
28          58.677483    30
29          37.480060    29
30          26.699556    18
31          72.955422    14
32          66.953054   577
33          75.830504    22
34          72.811064   664
35          65.608046   557
36          75.511909    75
37          76.845451   190
38          42.062505     9
39          27.591384    10
40          73.716369   103
41          75.590640   464
42          73.618653   358
43          53.588982    27
44          59.709930    85
45          67.744987   372
46          48.190136    48
47          74.669768    51
48          73.583550    33
49          75.978359    64
50          79.870132    33
51          65.981433    20
52          89.230769     1
53          25.860396     8
54          63.805281   159
55          58.273751   117
56          61.526148    17
57          37.213778     2
58          28.689564     5

In [ ]:
ball_rep[ball_rep['REPUBLICAN_2016']<63].describe()

       REPUBLICAN_2016        Size
count        33.000000   33.000000
mean         47.184428   91.212121
std          11.674933   93.550707
min          25.860396    1.000000
25%          37.213778   18.000000
50%          49.231496   53.000000
75%          57.549769  139.000000
max          61.656207  355.000000

In [ ]:
ball_rep[ball_rep['REPUBLICAN_2016']>63].describe()

       REPUBLICAN_2016        Size
count        26.000000   26.000000
mean         71.648567  297.576923
std           5.889065  312.913684
min          63.292547    1.000000
25%          66.288186   38.250000
50%          72.484009  169.500000
75%          75.301374  533.750000
max          89.230769  926.000000

## Analysing the balls

In [ ]:
pd.set_option('display.max_columns', 1000)
US_results[(US_results['ball']==45)&(US_results['REPUBLICAN_2012']<US_results['DEMOCRAT_2012'])].describe()

,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016,vote_gains,seat_gains,point,ball
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.0
mean,9.925000,38.022917,21.585417,11.060417,19.416667,21.591667,8.939583,10.993750,17.814583,22.220833,18.452083,94.672917,2.464583,60.181444,22.906250,13.014583,49.697917,20.441667,13.260417,16.597917,30.933333,13.025000,5.785313,54.090252,43.194998,40.056687,52.938076,9.743078,68.750000,1612.812500,45.0
std,2.452224,3.636589,2.689538,1.780717,3.856431,2.194076,2.953738,0.987455,1.311324,1.585165,2.273528,3.163202,1.452875,12.543692,5.093943,3.054191,5.023752,1.359260,1.736681,3.371374,2.885572,1.746303,1.277994,3.401839,3.618061,4.325821,4.730064,3.642752,46.841744,896.551304,0.0
min,4.700000,33.200000,15.000000,7.100000,13.100000,15.600000,6.500000,9.200000,15.200000,18.500000,13.900000,85.600000,0.800000,36.583679,11.900000,7.300000,37.400000,16.900000,8.100000,9.700000,23.800000,10.100000,3.826943,47.599047,32.267745,31.790421,39.521320,1.963527,0.000000,596.000000,45.0
25%,7.950000,34.975000,19.900000,10.000000,16.475000,20.200000,7.200000,10.375000,16.800000,21.575000,16.875000,93.325000,1.300000,49.242589,19.750000,11.025000,46.000000,19.700000,12.400000,14.350000,29.675000,11.800000,4.786968,50.971886,41.033920,37.185297,49.867708,7.439353,0.000000,813.250000,45.0
50%,10.000000,37.850000,21.350000,11.200000,19.000000,21.950000,7.900000,10.900000,18.000000,21.900000,18.500000,95.750000,2.100000,63.334728,22.800000,13.050000,50.350000,20.550000,13.150000,16.650000,30.700000,12.700000,5.432681,53.968567,42.567064,39.265355,53.761373,10.212712,100.000000,1304.000000,45.0
75%,11.825000,39.850000,22.900000,12.125000,21.675000,22.925000,8.700000,11.725000,18.825000,22.825000,19.825000,97.025000,3.350000,70.533247,25.450000,15.325000,52.775000,21.225000,14.150000,18.625000,32.600000,14.125000,6.695518,56.731441,46.442118,43.077868,56.459130,12.670349,100.000000,2117.500000,45.0
max,14.600000,51.100000,28.200000,14.500000,30.200000,26.700000,19.100000,13.300000,20.600000,25.700000,23.300000,98.700000,5.700000,84.891045,37.900000,20.600000,64.400000,24.100000,17.600000,26.300000,38.500000,17.500000,8.740741,60.624497,49.154917,53.756426,60.911540,17.975555,100.000000,3081.000000,45.0

In [ ]:
US_results[(US_results['ball']==45)&(US_results['REPUBLICAN_2016']<US_results['DEMOCRAT_2016'])].describe()

,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016,vote_gains,seat_gains,point,ball
count,4.000000,4.000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.0,4.000000,4.0
mean,9.675000,36.525,19.575000,9.600000,24.650000,20.750000,8.850000,11.375000,19.275000,22.775000,16.975000,96.050000,2.200000,68.178747,17.900000,11.375000,45.600000,20.075000,14.175000,20.200000,28.125000,11.500000,5.134531,59.373390,36.885456,48.096041,42.797934,5.912478,0.0,2197.500000,45.0
std,2.970269,1.550,1.510794,0.816497,3.738538,2.716002,3.468429,1.014479,1.037224,1.291962,3.617895,2.000833,1.867262,6.210086,4.726521,3.484609,3.652396,0.556028,1.811767,2.264214,3.086935,1.321615,1.125503,1.146267,3.462159,4.203800,3.068529,4.710096,0.0,873.533247,0.0
min,7.000000,34.900,18.400000,8.400000,22.200000,18.300000,6.500000,10.400000,18.100000,21.300000,13.900000,93.100000,1.200000,63.427576,14.300000,8.600000,42.000000,19.500000,12.400000,18.400000,23.800000,10.600000,4.104232,57.996067,32.267745,43.673813,39.521320,2.144241,0.0,1156.000000,45.0
25%,7.600000,35.350,18.550000,9.450000,22.575000,18.450000,7.025000,10.550000,18.775000,22.125000,14.800000,95.725000,1.275000,63.884105,14.450000,8.825000,42.825000,19.650000,13.075000,18.400000,27.100000,10.600000,4.450651,58.712221,35.992067,46.097553,40.537469,3.268068,0.0,1646.500000,45.0
50%,9.050000,36.650,19.100000,9.900000,23.100000,20.750000,7.450000,11.400000,19.200000,22.700000,15.950000,96.800000,1.300000,66.197456,16.450000,10.400000,45.350000,20.100000,13.850000,19.650000,28.900000,11.000000,4.872886,59.436498,37.305293,47.476963,42.940818,4.383983,0.0,2296.500000,45.0
75%,11.125000,37.825,20.125000,10.050000,25.175000,23.050000,9.275000,12.225000,19.700000,23.350000,18.125000,97.125000,2.225000,70.492098,19.900000,12.950000,48.125000,20.525000,14.950000,21.450000,29.925000,11.900000,5.556766,60.097666,38.198682,49.475451,45.201283,7.028393,0.0,2847.500000,45.0
max,13.600000,37.900,21.700000,10.200000,30.200000,23.200000,14.000000,12.300000,20.600000,24.400000,22.100000,97.500000,5.000000,76.892501,24.400000,16.100000,49.700000,20.600000,16.600000,23.100000,30.900000,13.400000,6.688119,60.624497,40.663492,53.756426,45.788781,12.737706,0.0,3041.000000,45.0

In [ ]:
US_results[US_results['ball']==33].describe()

,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016,vote_gains,seat_gains,point,ball
count,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.0,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.0
mean,24.354545,32.600000,21.554545,7.045455,14.459091,27.631818,8.322727,12.722727,17.809091,19.159091,14.345455,85.390909,1.627273,100.0,38.540909,13.440909,47.450000,20.850000,12.877273,18.831818,31.195455,17.250000,3.854738,24.068023,74.286328,19.277524,75.830504,1.544176,4.545455,1792.772727,33.0
std,6.452148,5.917287,4.551999,2.567142,4.086407,3.792899,1.715734,2.679185,1.371447,2.170288,2.767279,8.095731,0.989075,0.0,5.946160,4.387717,5.031591,2.924405,2.764560,3.957920,2.680703,2.879443,1.223743,11.368069,11.759690,7.614406,8.706103,4.198965,21.320072,949.519625,0.0
min,12.100000,19.000000,10.100000,2.800000,7.700000,19.000000,2.600000,9.600000,14.800000,15.600000,10.500000,72.900000,0.500000,100.0,25.700000,3.300000,38.200000,14.400000,7.000000,11.600000,26.400000,12.100000,2.311796,3.448276,48.711755,3.144654,57.859327,-6.213469,0.000000,75.000000,33.0
25%,19.825000,27.525000,19.200000,5.150000,11.275000,25.575000,7.725000,10.975000,17.025000,17.375000,12.525000,79.475000,0.925000,100.0,36.625000,11.900000,44.700000,19.100000,11.825000,16.550000,29.500000,15.150000,3.119069,17.057145,67.926855,14.020677,72.237344,-1.056930,0.000000,898.750000,33.0
50%,23.900000,33.850000,21.550000,7.050000,13.800000,28.700000,8.650000,12.400000,18.000000,19.200000,13.800000,84.850000,1.200000,100.0,38.600000,13.150000,47.700000,20.650000,13.250000,18.400000,30.450000,17.450000,3.641321,22.020814,76.103307,19.070465,76.363766,0.844976,0.000000,2129.000000,33.0
75%,26.975000,36.800000,24.750000,9.200000,17.475000,29.500000,9.375000,13.900000,18.800000,20.525000,15.925000,92.000000,2.200000,100.0,40.650000,15.550000,51.175000,22.750000,14.300000,21.050000,33.475000,19.125000,4.249519,29.725602,81.449390,22.014309,80.469422,3.223609,0.000000,2666.500000,33.0
max,41.600000,42.500000,29.600000,10.900000,23.200000,33.600000,10.300000,22.300000,20.600000,23.300000,22.300000,99.100000,4.100000,100.0,52.300000,22.700000,58.300000,26.200000,18.400000,27.800000,37.500000,22.300000,7.072161,49.355878,95.862069,33.394495,93.710692,12.570194,100.000000,3028.000000,33.0

In [ ]:
states = ['IOWA', 'MICHIGAN', 'OHIO', 'PENNSYLVANIA', 'WISCONSIN','INDIANA','MISSOURI','WEST VIRGINIA']
US_results[(US_results['state'].isin(states))&(US_results['ball']==40)].describe()

,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016,vote_gains,seat_gains,point,ball
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.0
mean,11.572549,43.650980,20.039216,9.605882,15.150980,22.217647,7.178431,10.082353,16.941176,22.952941,20.619608,96.780392,1.270588,99.684363,30.805882,13.554902,55.088235,20.062745,11.694118,13.139216,32.047059,14.541176,5.639427,39.413546,58.528056,25.459171,69.932165,11.404110,15.686275,1564.882353,40.0
std,2.975707,3.466086,2.493999,2.691053,2.365364,2.507804,0.651249,0.798174,1.097666,1.711649,2.168319,2.462277,0.844108,2.050784,4.685911,3.331085,4.937637,1.958873,2.115033,2.739568,1.686221,2.630223,1.439194,8.906570,8.680180,6.560954,7.407333,3.196059,36.729002,857.859467,0.0
min,6.700000,32.900000,13.300000,4.100000,9.700000,12.400000,5.800000,8.000000,14.600000,19.900000,16.000000,85.700000,0.400000,85.375531,22.100000,9.000000,46.100000,15.000000,4.300000,6.800000,27.600000,10.600000,3.428662,21.329305,38.643703,12.378223,53.850091,5.256924,0.000000,673.000000,40.0
25%,9.650000,41.800000,18.550000,7.750000,13.400000,21.150000,6.800000,9.650000,16.200000,21.950000,19.150000,96.350000,0.800000,100.000000,27.550000,11.000000,51.750000,19.050000,10.400000,11.350000,31.050000,12.450000,4.642057,33.417355,53.273157,20.841515,64.487916,9.424023,0.000000,821.000000,40.0
50%,11.400000,43.400000,20.500000,9.300000,15.100000,22.700000,7.100000,10.200000,16.800000,22.500000,20.300000,97.600000,0.900000,100.000000,30.000000,13.200000,53.700000,20.000000,11.800000,13.500000,32.200000,13.900000,5.461302,39.261800,58.654689,24.308481,70.374150,11.050191,0.000000,1461.000000,40.0
75%,12.700000,45.900000,22.000000,11.450000,16.650000,23.450000,7.600000,10.550000,17.600000,23.800000,22.350000,98.200000,1.350000,100.000000,34.150000,14.950000,58.150000,21.200000,13.150000,15.100000,32.950000,16.100000,6.688871,44.758096,63.867926,29.891032,75.762124,13.236241,0.000000,2153.000000,40.0
max,19.700000,49.900000,24.600000,15.000000,21.600000,29.400000,9.600000,11.700000,19.800000,28.400000,26.900000,98.900000,3.900000,100.000000,46.100000,22.900000,68.400000,24.900000,16.500000,19.300000,36.100000,22.300000,9.371362,59.590958,76.888270,41.213894,85.157593,22.810710,100.000000,3088.000000,40.0

In [ ]:
states = ['IOWA', 'MICHIGAN', 'OHIO', 'PENNSYLVANIA', 'WISCONSIN','INDIANA','MISSOURI','WEST VIRGINIA']
states = ['MICHIGAN', 'PENNSYLVANIA', 'WISCONSIN']

US_results[US_results['state'].isin(states)]

,GEO_ID,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Black,Rural,manu_arg,Poverty,lessthan50K,50to75k,75to100k,morethan100k,FIPS,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value,county_name,state,DEMOCRAT_2012,REPUBLICAN_2012,DEMOCRAT_2016,REPUBLICAN_2016,vote_gains,seat_gains,point,ball
4070,26001,11.5,40.2,25.3,8.6,14.5,13.2,5.1,6.2,13.4,27.8,34.5,98.4,0.8,89.808048,19.0,14.9,64.3,18.9,9.3,7.5,26001,30.7,13.0,10.453598,ALCONA,MICHIGAN,40.498034,58.502621,27.944498,67.779929,9.277308,0,1204,18
4071,26001,11.5,40.2,25.3,8.6,14.5,13.2,5.1,6.2,13.4,27.8,34.5,98.4,0.8,89.808048,19.0,14.9,64.3,18.9,9.3,7.5,26001,30.7,13.0,10.453598,ALCONA,MICHIGAN,40.498034,58.502621,27.944498,67.779929,9.277308,0,1204,42
4072,26003,10.6,44.3,19.1,7.9,18.1,15.5,7.4,10.4,17.5,25.8,23.4,88.5,7.1,100.000000,16.7,13.1,58.6,18.4,12.8,10.2,26003,32.3,13.3,10.256410,ALGER,MICHIGAN,47.899524,50.454742,36.808322,57.215582,6.760840,0,1205,2
4073,26003,10.6,44.3,19.1,7.9,18.1,15.5,7.4,10.4,17.5,25.8,23.4,88.5,7.1,100.000000,16.7,13.1,58.6,18.4,12.8,10.2,26003,32.3,13.3,10.256410,ALGER,MICHIGAN,47.899524,50.454742,36.808322,57.215582,6.760840,0,1205,18
4074,26003,10.6,44.3,19.1,7.9,18.1,15.5,7.4,10.4,17.5,25.8,23.4,88.5,7.1,100.000000,16.7,13.1,58.6,18.4,12.8,10.2,26003,32.3,13.3,10.256410,ALGER,MICHIGAN,47.899524,50.454742,36.808322,57.215582,6.760840,0,1205,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10671,55137,13.8,41.8,21.8,7.6,15.1,18.8,6.4,10.1,17.1,25.3,22.4,94.4,2.0,99.714480,27.8,11.5,53.5,20.7,11.7,14.1,55137,32.0,13.5,7.160494,WAUSHARA,WISCONSIN,44.281208,54.465471,31.602634,63.913659,9.448188,0,3088,42
10672,55139,7.9,34.0,20.8,10.4,26.9,20.9,12.3,13.1,18.6,20.2,14.7,91.1,4.1,17.613024,25.6,12.2,46.0,21.6,13.4,19.0,55139,28.1,12.3,5.305674,WINNEBAGO,WISCONSIN,50.967221,47.236271,42.520426,49.857707,2.621436,100,3089,0
10673,55139,7.9,34.0,20.8,10.4,26.9,20.9,12.3,13.1,18.6,20.2,14.7,91.1,4.1,17.613024,25.6,12.2,46.0,21.6,13.4,19.0,55139,28.1,12.3,5.305674,WINNEBAGO,WISCONSIN,50.967221,47.236271,42.520426,49.857707,2.621436,100,3089,25
10674,55141,7.6,38.9,21.0,12.1,20.4,21.9,7.4,11.4,17.7,23.0,18.6,95.1,1.6,33.115286,22.9,10.6,50.1,20.5,13.0,16.5,55141,34.2,12.3,6.072165,WOOD,WISCONSIN,47.766067,50.652956,37.650794,56.886243,6.233287,0,3090,0
10675,55141,7.6,38.9,21.0,12.1,20.4,21.9,7.4,11.4,17.7,23.0,18.6,95.1,1.6,33.115286,22.9,10.6,50.1,20.5,13.0,16.5,55141,34.2,12.3,6.072165,WOOD,WISCONSIN,47.766067,50.652956,37.650794,56.886243,6.233287,0,3090,32

In [ ]:
import pandas as pd

# Example DataFrame (replace this with actual data)
# US_results = pd.read_csv('path_to_your_data.csv')

# List of states to analyze
states = ['IOWA', 'MICHIGAN', 'OHIO', 'PENNSYLVANIA', 'WISCONSIN', 'INDIANA', 'MISSOURI', 'WEST VIRGINIA']
states = ['MICHIGAN', 'PENNSYLVANIA', 'WISCONSIN']

# Calculate the total occurrences of each unique value in the 'ball' column
total_ball_counts = US_results['ball'].value_counts()

# Filter the DataFrame to include only rows from the specified states
filtered_data = US_results[US_results['state'].isin(states)]

# Calculate the occurrences of each unique value in the 'ball' column for the filtered data
filtered_ball_counts = filtered_data['ball'].value_counts()

# Compute the proportion of each ball that belongs to the specified states
ball_proportions = filtered_ball_counts / total_ball_counts

# Convert the proportions to a DataFrame for better display
ball_proportions_df = ball_proportions.to_frame(name='Proportion')

# Fill NaN values with 0 to indicate that the ball did not appear in the filtered data
ball_proportions_df.fillna(0, inplace=True)

# Display the result
print(ball_proportions_df.sort_values(by='Proportion'))

      Proportion
ball
58      0.000000
39      0.000000
38      0.000000
36      0.000000
48      0.000000
49      0.000000
50      0.000000
31      0.000000
57      0.000000
51      0.000000
52      0.000000
53      0.000000
47      0.000000
55      0.000000
16      0.000000
20      0.000000
14      0.000000
1       0.000000
9       0.000000
3       0.000000
4       0.000000
8       0.000000
56      0.000000
7       0.000000
12      0.005435
24      0.011111
54      0.012579
11      0.018182
13      0.021583
21      0.023474
37      0.026316
19      0.032000
28      0.033333
6       0.043825
33      0.045455
15      0.045802
27      0.047170
30      0.055556
41      0.056034
23      0.056604
2       0.060738
10      0.061947
29      0.068966
44      0.070588
18      0.084046
25      0.086957
0       0.088553
34      0.090361
5       0.093230
17      0.093333
42      0.100559
26      0.100629
46      0.104167
22      0.107042
32      0.107452
43      0.111111
40      0.145631
35      0.152603
45      0.182796

In [ ]:
bmx1.columns

Index(['Nohighschool_25plus', 'Highschool_25plus', 'Somedegree_25plus',
       'Assocdegree_25plus', 'Degree_25plus', 'Under18', '18to24', '25to34',
       '35to49', '50to64', 'Over65', 'White', 'Rural', 'lessthan50K',
       '50to75k', '75to100k', 'morethan100k', 'manu_arg', 'Poverty',
       'Adult obesity raw value', 'Poor or fair health raw value',
       'Unemployment raw value'],
      dtype='object')

In [ ]:
columns=['REPUBLICAN_2012','REPUBLICAN_2016','Nohighschool_25plus', 'Highschool_25plus', 'Somedegree_25plus',
       'Assocdegree_25plus', 'Degree_25plus', 'Under18', '18to24', '25to34',
       '35to49', '50to64', 'Over65', 'White', 'Rural', 'lessthan50K',
       '50to75k', '75to100k', 'morethan100k', 'manu_arg', 'Poverty',
       'Adult obesity raw value', 'Poor or fair health raw value',
       'Unemployment raw value']
ball_means=pd.DataFrame()
for col in columns:
    ball_means[col]=US_results.groupby('ball')[col].mean()

In [ ]:
ball_means

,REPUBLICAN_2012,REPUBLICAN_2016,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Rural,lessthan50K,50to75k,75to100k,morethan100k,manu_arg,Poverty,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value
ball,,,,,,,,,,,,,,,,,,,,,,,,
0,60.149892,63.292547,12.457019,33.490497,22.833909,9.179806,22.040713,23.035637,9.614039,12.144816,18.221706,20.545356,16.431102,85.680022,39.950430,50.145572,19.293629,12.557667,18.007559,17.634665,14.933153,30.781102,15.901944,5.824436
1,53.497064,56.907903,20.928205,36.996795,20.345513,7.348077,14.382692,23.521154,9.396795,12.088462,18.266667,20.335256,16.380128,58.548077,63.182478,63.775000,16.132692,9.079487,11.004487,20.664744,24.609615,35.869872,23.375641,8.258201
2,65.727843,72.156954,16.990130,39.057592,21.283623,7.740672,14.926139,22.103905,7.870390,10.877115,17.897072,21.851193,19.399024,87.117896,96.734544,58.608785,18.338720,10.573319,12.481887,22.314751,18.008026,32.456941,18.239479,6.501271
3,33.833089,37.005677,25.185106,37.189362,18.608511,6.629787,12.404255,22.853191,9.585106,12.274468,17.855319,20.827660,16.604255,35.091489,98.888304,71.925532,13.823404,7.034043,7.219149,24.940426,31.702128,38.761702,28.131915,10.732063
4,51.550907,55.738564,21.963793,39.114943,19.594828,6.804598,12.520690,22.389080,8.894253,11.779310,18.163218,21.190805,17.587356,57.185632,96.598167,66.250575,15.683333,8.435057,9.625862,22.532184,25.738506,35.658621,23.923563,8.568748
5,63.291160,69.101354,15.449501,37.696115,21.504329,8.469367,16.884129,22.498557,8.709767,11.338513,18.197891,21.280355,17.973807,87.926748,67.253498,55.955605,18.865705,11.329301,13.851165,20.680466,17.211210,32.164262,17.587791,6.626545
6,47.669247,46.448863,13.453386,27.874104,22.503586,8.262550,27.908765,23.770518,10.827888,14.271315,18.819522,18.818327,13.495219,64.193227,11.480452,49.073705,18.094821,12.003187,20.830279,11.311155,17.123506,29.613147,17.686056,6.497264
7,33.430072,36.035029,22.058333,33.370833,21.308333,7.908333,15.366667,24.383333,10.400000,12.483333,17.650000,20.037500,15.054167,34.916667,52.817042,68.454167,14.700000,7.783333,9.037500,18.600000,30.695833,38.737500,26.575000,10.396488
8,53.933766,61.656207,15.600000,42.000000,23.300000,7.000000,11.900000,12.300000,10.500000,13.600000,29.100000,27.800000,6.700000,25.100000,100.000000,35.700000,21.800000,15.600000,26.900000,69.600000,15.500000,31.100000,17.000000,4.585931
9,40.050132,43.074233,12.500000,40.300000,25.100000,6.400000,15.700000,15.700000,11.600000,18.500000,25.300000,23.200000,5.700000,37.800000,100.000000,26.400000,15.900000,19.200000,38.600000,39.100000,7.700000,36.200000,14.000000,4.933243
10,49.659155,46.340287,9.532743,24.475221,21.272566,8.606195,36.111947,23.780088,9.520354,13.599115,20.084513,19.616814,13.395575,74.168584,9.647118,37.153097,17.882743,13.509292,31.457080,10.416814,11.113274,26.332743,13.554425,5.415298
11,32.173088,35.584557,21.481818,35.807273,20.661818,7.889091,14.181818,26.481818,10.423636,12.001818,16.934545,19.547273,14.623636,31.347273,98.705752,69.269091,14.538182,7.585455,8.610909,18.850909,33.478182,38.947273,27.660000,10.438253
12,61.892930,65.238624,18.179891,35.234783,22.481522,7.820109,16.279348,23.147826,8.930435,11.666304,17.900543,20.469022,17.885870,75.573370,47.222060,60.259783,17.504891,10.026630,12.220109,18.639674,20.884239,32.419022,20.509783,7.401397
13,55.695263,55.646729,18.994245,30.016547,23.272662,7.963309,19.758993,25.548201,10.346763,13.815827,18.292806,18.093525,13.905755,70.812230,16.041319,53.848201,18.315827,11.547482,16.291367,15.730216,19.030935,30.825899,20.226619,6.942454
14,47.847441,49.403716,18.731132,34.104717,21.881132,7.676415,17.613208,24.565094,10.083019,13.027358,18.120755,19.535849,14.683019,51.151887,36.687256,61.302830,16.400943,9.610377,12.683962,16.964151,24.744340,35.512264,23.052830,8.558139
15,61.412812,64.169590,12.038168,33.041221,23.179389,8.547328,23.193130,21.008397,7.672519,10.163359,17.832824,23.325954,19.996183,85.729771,96.711976,47.121374,19.508397,13.135878,20.231298,13.671756,12.987023,29.200763,14.366412,5.652845
16,65.554316,66.066563,25.047059,30.011765,22.067647,7.811765,15.076471,27.800000,9.641176,13.102941,17.970588,18.017647,13.458824,69.973529,43.065235,50.932353,20.805882,12.144118,16.111765,30.835294,16.920588,30.747059,19.370588,6.128890
17,46.145286,40.457984,6.949333,19.258667,18.165333,7.628000,47.992000,23.292000,8.564000,13.056000,21.058667,20.454667,13.565333,76.964000,8.701776,28.865333,15.916000,13.257333,41.960000,9.205333,7.910667,22.814667,11.117333,4.798161
18,66.053823,71.426111,11.406838,35.924929,23.681766,9.530769,19.458974,21.453846,7.187892,9.966809,16.753276,23.206695,21.430769,93.849573,97.822282,52.452849,19.675641,12.262536,15.610399,21.927920,13.357265,30.127208,13.995157,5.320069
19,55.567594,54.207533,15.038400,28.583200,22.923200,8.334400,25.119200,25.585600,9.543200,13.502400,19.674400,18.936000,12.755200,68.892000,18.975437,42.003200,18.884800,13.504800,25.604000,14.892800,13.536800,29.263200,16.437600,6.225868
20,36.363110,30.609674,10.130000,18.607500,17.050000,6.437500,47.757500,22.460000,9.185000,15.377500,21.355000,19.075000,12.520000,59.050000,2.449138,31.477500,15.247500,12.215000,41.060000,7.875000,10.730000,21.917500,12.975000,5.180594
21,59.759862,61.210011,14.239906,30.930516,24.112676,8.553052,22.175587,22.581221,12.182629,12.515493,17.210798,19.266197,16.242723,80.580282,35.209268,57.358685,17.775117,10.780282,14.089202,14.002347,20.133803,30.135681,18.809390,6.613734
22,56.649801,60.487056,10.258592,32.345070,23.038873,9.749014,24.611831,21.126479,9.042254,11.134366,17.611549,22.176620,18.903099,92.033521,53.806282,49.603380,19.340282,12.762254,18.305352,15.626761,13.655493,28.525915,13.842254,5.862944
23,57.401227,57.906673,7.143396,28.584906,23.830189,9.230189,31.211321,20.058491,6.698113,9.243396,17.905660,25.620755,20.466038,94.069811,96.955076,40.983019,19.669811,14.283019,25.047170,12.941509,9.245283,25.724528,11.313208,4.828012
24,65.711825,71.105619,19.878889,36.102778,22.639444,6.867778,14.507778,21.576667,7.758333,10.625000,17.407222,21.830000,20.809444,82.806111,99.647719,65.006111,16.142778,8.768889,10.082778,20.370556,21.936667,31.206111,20.592778,7.219477
25,51.641852,49.231496,8.360535,25.313378,21.758863,9.116722,35.446823,22.507692,10.968227,13.186957,18.902676,19.891304,14.536789,83.959532,15.869546,41.206355,18.472575,13.383612,26.942140,11.748495,12.142140,26.173244,13.156856,5.203123
26,55.518931,56.020476,8.112579,28.526415,21.331447,9.505660,32.513208,22.354088,9.738994,11.535220,19.070440,21.589937,15.696855,89.725786,45.923892,37.940252,18.680503,14.350314,29.028302,13.514465,9.771698,27.410063,12.110063,4.959644
27,55.021512,57.549769,10.778302,31.550943,23.418868,9.358491,24.884906,20.475472,8.797170,11.674528,17.222642,21.293396,20.511321,86.613208,15.368919,52.033019,19.017925,11.680189,17.273585,11.260377,15.213208,28.455660,15.530189,6.291650
28,58.038645,58.677483,11.483333,28.030000,23.206667,7.940000,29.353333,20.996667,21.506667,13.916667,15.686667,15.850000,12.023333,75.520000,40.697894,56.023333,17.716667,11.266667,15.020000,12.120000,22.126667,30.430000,18.660000,6.172319
29,41.627159,37.480060,11.641379,23.231034,20.517241,7.617241,36.989655,20.048276,21.020690,15.517241,16.537931,15.937931,10.927586,67.510345,9.402553,54.924138,16.582759,10.362069,18.131034,9.082759,23.927586,27.841379,18.934483,5.889923
30,27.240753,26.699556,17.022222,29.777778,22.355556,7.044444,23.816667,24.122222,10.455556,14.955556,18.350000,19.061111,13.044444,33.527778,5.909676,58.472222,16.661111,10.066667,14.777778,9.716667,24.183333,33.988889,22.777778,8.287212
31,70.636386,72.955422,27.942857,34.178571,20.250000,5.600000,12.035714,27.578571,8.935714,12.135714,17.707143,18.878571,14.800000,76.942857,100.000000,62.614286,17.064286,9.221429,11.042857,39.500000,21.000000,32.950000,23.557143,4.937605
32,61.370033,66.953054,13.409532,36.761872,22.260832,9.029116,18.543154,22.621317,8.961005,11.702253,17.999653,20.996707,17.717504,90.253033,42.988967,54.088908,19.297227,11.802426,14.812478,20.296360,16.046794,31.811265,16.682842,6.148950
33,74.286328,75.830504,24.354545,32.600000,21.554545,7.045455,14.459091,27.631818,8.322727,12.722727,17.809091,19.159091,14.345455,85.390909,100.000000,47.450000,20.850000,12.877273,18.831818,38.540909,13.440909,31.195455,17.250000,3.854738
34,66.467242,72.811064,11.332681,37.913404,22.663705,9.627711,18.466265,22.258283,7.279217,10.287651,17.040663,22.845331,20.288253,94.954669,97.269234,50.780572,20.235392,12.768373,16.218825,24.987199,12.550000,30.922892,13.907831,4.957648
35,60.075733,65.608046,11.052244,36.551346,21.857989,9.696768,20.847397,22.386715,8.640395,11.209874,18.271454,21.805745,17.681508,93.171993,61.912373,48.316517,20.077199,13.300000,18.308438,19.512029,12.892280,30.794794,14.118492,5.674035
36,68.688653,75.511909,21.757333,39.464000,19.104000,6.806667,12.876000,22.594667,8.498667,11.540000,18.792000,20.878667,17.709333,92.280000,63.767870,65.462667,16.398667,8.538667,9.600000,21.285333,23.508000,34.376000,22.916000,8.407861
37,68.522562,76.845451,21.504737,40.353158,19.384211,6.595789,12.160000,21.268947,7.776316,10.867368,18.694737,22.067895,19.330526,94.470526,98.624128,65.580526,16.431053,8.730526,9.262632,19.309474,22.972632,33.714737,21.995789,8.169601
38,43.416019,42.062505,9.688889,28.322222,23.177778,8.822222,30.011111,25.488889,8.655556,12.811111,21.311111,19.755556,11.933333,55.655556,23.947975,31.177778,17.711111,14.988889,36.133333,6.877778,9.088889,29.011111,13.688889,5.383683
39,30.183303,27.591384,14.080000,25.300000,19.490000,7.390000,33.730000,24.310000,9.330000,15.190000,21.830000,18.370000,10.980000,38.390000,2.236622,36.460000,18.880000,13.500000,31.190000,5.830000,12.450000,26.670000,15.830000,6.026485
40,65.210884,73.716369,10.147573,41.828155,21.185437,9.784466,17.057282,21.682524,6.764078,9.711650,16.162136,23.968932,21.699029,96.654369,99.753471,54.915534,19.524272,11.612621,13.943689,32.310680,13.325243,30.780583,13.708738,4.805610
41,68.626425,75.590640,15.587284,38.659052,21.908190,8.121983,15.725216,22.242241,7.360991,10.307543,17.144397,22.337716,20.605388,94.064009,99.246508,58.607974,18.534267,10.731681,12.129526,26.440302,16.766810,31.427802,17.030388,5.812248
42,67.126282,73.618653,12.388268,37.885196,23.059777,8.734916,17.928771,20.555587,6.754469,9.416760,16.040782,23.791061,23.441341,94.660615,99.615881,58.683240,18.358939,10.504190,12.451955,22.996089,15.719553,30.282123,15.341061,5.843406
43,52.449188,53.588982,9.496296,27.303704,21.529630,7.948148,33.733333,18.577778,23.248148,12.192593,14.985185,17.188889,13.792593,87.574074,49.942106,57.844444,16.918519,10.866667,14.400000,11.644444,23.496296,29.188889,16.992593,5.722842
44,60.100637,59.709930,8.558824,28.795294,22.767059,9.614118,30.260000,24.976471,8.905882,12.656471,20.254118,20.135294,13.062353,86.918824,26.059414,34.282353,18.744706,14.995294,31.976471,16.248235,8.527059,29.114118,12.431765,4.806092
45,59.960727,67.744987,12.175269,39.898118,20.775269,9.580108,17.576613,22.500806,8.461559,11.131720,18.151075,21.720968,18.037903,94.636022,60.318489,51.938978,20.134946,12.639785,15.284677,24.544086,14.072043,31.844892,15.156183,5.943220
46,50.156953,48.190136,7.518750,24.622917,21.100000,8.445833,38.318750,19.158333,22.997917,13.729167,15.379167,16.375000,12.345833,86.010417,26.089312,53.391667,17.291667,11.258333,18.052083,11.710417,21.243750,27.395833,15.768750,4.861279
47,71.241658,74.669768,9.125490,31.098039,24.300000,11.092157,24.401961,24.023529,7.145098,10.543137,17.398039,22.470588,18.417647,95.803922,99.263012,38.207843,20.709804,15.005882,26.068627,25.282353,7.678431,29.582353,11.462745,3.423220
48,72.254544,73.583550,21.821212,34.503030,21.121212,7.351515,15.212121,27.084848,8.748485,12.306061,18.245455,18.906061,14.672727,83.063636,61.557651,50.654545,19.742424,12.551515,17.024242,26.833333,16.172727,31.151515,18.236364,5.307707
49,73.058417,75.978359,24.934375,33.970312,21.620313,6.168750,13.306250,24.325000,8.798438,12.578125,19.195312,19.242188,15.859375,81.340625,99.683391,55.226562,18.846875,11.018750,14.900000,25.782812,17.560938,30.815625,20.003125,5.210706
50,77.396111,79.870132,16.457576,31.351515,23.006061,8.800000,20.387879,25.433333,7.315152,11.890909,17.318182,21.584848,16.469697,89.330303,100.000000,41.281818,19.175758,13.351515,26.196970,34.769697,9.778788,29.981818,14.333333,3.215021
51,61.167490,65.981433,32.805000,34.145000,17.810000,4.675000,10.570000,23.400000,8.605000,11.815000,19.085000,20.200000,16.900000,82.005000,99.859131,71.280000,13.795000,6.630000,8.300000,19.575000,31.105000,32.220000,28.380000,8.433061
52,84.375000,89.230769,25.400000,31.300000,32.800000,7.500000,3.000000,7.900000,3.900000,0.000000,18.400000,44.800000,25.000000,96.900000,100.000000,45.900000,10.800000,32.400000,10.800000,41.000000,16.400000,31.200000,24.600000,5.000000
53,23.634183,25.860396,40.137500,26.087500,16.975000,4.850000,11.975000,30.562500,12.237500,12.925000,17.737500,14.150000,12.400000,79.137500,23.844866,67.450000,13.687500,8.375000,10.500000,12.387500,33.737500,30.800000,36.962500,9.852393
54,60.463651,63.805281,18.562264,35.505660,21.658491,7.642767,16.624528,23.206289,9.542138,11.945283,18.457862,20.475472,16.360377,68.662264,72.052032,55.989308,17.700629,11.248428,15.069811,17.710063,19.435849,33.327673,19.748428,6.793507
55,54.136463,58.273751,19.959829,38.347009,20.497436,7.243590,13.949573,21.755556,8.629060,11.331624,18.252137,21.864103,18.162393,61.268376,98.016998,59.894017,17.476068,9.941026,12.691453,19.810256,21.330769,34.612821,21.047009,7.581100
56,56.520176,61.526148,14.494118,35.523529,22.488235,7.523529,19.976471,21.564706,11.088235,12.735294,18.158824,19.623529,16.805882,87.047059,12.708029,61.388235,17.547059,9.376471,11.700000,16.723529,21.064706,30.841176,18.611765,6.212430
57,44.662553,37.213778,12.700000,20.700000,19.100000,8.000000,39.500000,9.850000,50.400000,8.000000,8.650000,12.000000,11.100000,84.400000,2.178632,64.750000,15.550000,7.500000,12.200000,8.050000,28.850000,28.300000,20.100000,7.291041
58,35.003638,28.689564,7.300000,20.380000,18.100000,6.600000,47.620000,17.040000,25.720000,15.620000,15.120000,15.000000,11.480000,64.920000,5.503645,49.640000,16.360000,11.440000,22.520000,4.400000,21.640000,27.580000,16.660000,5.784243

In [ ]:
ball_means.sort_values(by='White',ascending=True)

,REPUBLICAN_2012,REPUBLICAN_2016,Nohighschool_25plus,Highschool_25plus,Somedegree_25plus,Assocdegree_25plus,Degree_25plus,Under18,18to24,25to34,35to49,50to64,Over65,White,Rural,lessthan50K,50to75k,75to100k,morethan100k,manu_arg,Poverty,Adult obesity raw value,Poor or fair health raw value,Unemployment raw value
ball,,,,,,,,,,,,,,,,,,,,,,,,
8,53.933766,61.656207,15.600000,42.000000,23.300000,7.000000,11.900000,12.300000,10.500000,13.600000,29.100000,27.800000,6.700000,25.100000,100.000000,35.700000,21.800000,15.600000,26.900000,69.600000,15.500000,31.100000,17.000000,4.585931
11,32.173088,35.584557,21.481818,35.807273,20.661818,7.889091,14.181818,26.481818,10.423636,12.001818,16.934545,19.547273,14.623636,31.347273,98.705752,69.269091,14.538182,7.585455,8.610909,18.850909,33.478182,38.947273,27.660000,10.438253
30,27.240753,26.699556,17.022222,29.777778,22.355556,7.044444,23.816667,24.122222,10.455556,14.955556,18.350000,19.061111,13.044444,33.527778,5.909676,58.472222,16.661111,10.066667,14.777778,9.716667,24.183333,33.988889,22.777778,8.287212
7,33.430072,36.035029,22.058333,33.370833,21.308333,7.908333,15.366667,24.383333,10.400000,12.483333,17.650000,20.037500,15.054167,34.916667,52.817042,68.454167,14.700000,7.783333,9.037500,18.600000,30.695833,38.737500,26.575000,10.396488
3,33.833089,37.005677,25.185106,37.189362,18.608511,6.629787,12.404255,22.853191,9.585106,12.274468,17.855319,20.827660,16.604255,35.091489,98.888304,71.925532,13.823404,7.034043,7.219149,24.940426,31.702128,38.761702,28.131915,10.732063
9,40.050132,43.074233,12.500000,40.300000,25.100000,6.400000,15.700000,15.700000,11.600000,18.500000,25.300000,23.200000,5.700000,37.800000,100.000000,26.400000,15.900000,19.200000,38.600000,39.100000,7.700000,36.200000,14.000000,4.933243
39,30.183303,27.591384,14.080000,25.300000,19.490000,7.390000,33.730000,24.310000,9.330000,15.190000,21.830000,18.370000,10.980000,38.390000,2.236622,36.460000,18.880000,13.500000,31.190000,5.830000,12.450000,26.670000,15.830000,6.026485
14,47.847441,49.403716,18.731132,34.104717,21.881132,7.676415,17.613208,24.565094,10.083019,13.027358,18.120755,19.535849,14.683019,51.151887,36.687256,61.302830,16.400943,9.610377,12.683962,16.964151,24.744340,35.512264,23.052830,8.558139
38,43.416019,42.062505,9.688889,28.322222,23.177778,8.822222,30.011111,25.488889,8.655556,12.811111,21.311111,19.755556,11.933333,55.655556,23.947975,31.177778,17.711111,14.988889,36.133333,6.877778,9.088889,29.011111,13.688889,5.383683
4,51.550907,55.738564,21.963793,39.114943,19.594828,6.804598,12.520690,22.389080,8.894253,11.779310,18.163218,21.190805,17.587356,57.185632,96.598167,66.250575,15.683333,8.435057,9.625862,22.532184,25.738506,35.658621,23.923563,8.568748
1,53.497064,56.907903,20.928205,36.996795,20.345513,7.348077,14.382692,23.521154,9.396795,12.088462,18.266667,20.335256,16.380128,58.548077,63.182478,63.775000,16.132692,9.079487,11.004487,20.664744,24.609615,35.869872,23.375641,8.258201
20,36.363110,30.609674,10.130000,18.607500,17.050000,6.437500,47.757500,22.460000,9.185000,15.377500,21.355000,19.075000,12.520000,59.050000,2.449138,31.477500,15.247500,12.215000,41.060000,7.875000,10.730000,21.917500,12.975000,5.180594
55,54.136463,58.273751,19.959829,38.347009,20.497436,7.243590,13.949573,21.755556,8.629060,11.331624,18.252137,21.864103,18.162393,61.268376,98.016998,59.894017,17.476068,9.941026,12.691453,19.810256,21.330769,34.612821,21.047009,7.581100
6,47.669247,46.448863,13.453386,27.874104,22.503586,8.262550,27.908765,23.770518,10.827888,14.271315,18.819522,18.818327,13.495219,64.193227,11.480452,49.073705,18.094821,12.003187,20.830279,11.311155,17.123506,29.613147,17.686056,6.497264
58,35.003638,28.689564,7.300000,20.380000,18.100000,6.600000,47.620000,17.040000,25.720000,15.620000,15.120000,15.000000,11.480000,64.920000,5.503645,49.640000,16.360000,11.440000,22.520000,4.400000,21.640000,27.580000,16.660000,5.784243
29,41.627159,37.480060,11.641379,23.231034,20.517241,7.617241,36.989655,20.048276,21.020690,15.517241,16.537931,15.937931,10.927586,67.510345,9.402553,54.924138,16.582759,10.362069,18.131034,9.082759,23.927586,27.841379,18.934483,5.889923
54,60.463651,63.805281,18.562264,35.505660,21.658491,7.642767,16.624528,23.206289,9.542138,11.945283,18.457862,20.475472,16.360377,68.662264,72.052032,55.989308,17.700629,11.248428,15.069811,17.710063,19.435849,33.327673,19.748428,6.793507
19,55.567594,54.207533,15.038400,28.583200,22.923200,8.334400,25.119200,25.585600,9.543200,13.502400,19.674400,18.936000,12.755200,68.892000,18.975437,42.003200,18.884800,13.504800,25.604000,14.892800,13.536800,29.263200,16.437600,6.225868
16,65.554316,66.066563,25.047059,30.011765,22.067647,7.811765,15.076471,27.800000,9.641176,13.102941,17.970588,18.017647,13.458824,69.973529,43.065235,50.932353,20.805882,12.144118,16.111765,30.835294,16.920588,30.747059,19.370588,6.128890
13,55.695263,55.646729,18.994245,30.016547,23.272662,7.963309,19.758993,25.548201,10.346763,13.815827,18.292806,18.093525,13.905755,70.812230,16.041319,53.848201,18.315827,11.547482,16.291367,15.730216,19.030935,30.825899,20.226619,6.942454
10,49.659155,46.340287,9.532743,24.475221,21.272566,8.606195,36.111947,23.780088,9.520354,13.599115,20.084513,19.616814,13.395575,74.168584,9.647118,37.153097,17.882743,13.509292,31.457080,10.416814,11.113274,26.332743,13.554425,5.415298
28,58.038645,58.677483,11.483333,28.030000,23.206667,7.940000,29.353333,20.996667,21.506667,13.916667,15.686667,15.850000,12.023333,75.520000,40.697894,56.023333,17.716667,11.266667,15.020000,12.120000,22.126667,30.430000,18.660000,6.172319
12,61.892930,65.238624,18.179891,35.234783,22.481522,7.820109,16.279348,23.147826,8.930435,11.666304,17.900543,20.469022,17.885870,75.573370,47.222060,60.259783,17.504891,10.026630,12.220109,18.639674,20.884239,32.419022,20.509783,7.401397
31,70.636386,72.955422,27.942857,34.178571,20.250000,5.600000,12.035714,27.578571,8.935714,12.135714,17.707143,18.878571,14.800000,76.942857,100.000000,62.614286,17.064286,9.221429,11.042857,39.500000,21.000000,32.950000,23.557143,4.937605
17,46.145286,40.457984,6.949333,19.258667,18.165333,7.628000,47.992000,23.292000,8.564000,13.056000,21.058667,20.454667,13.565333,76.964000,8.701776,28.865333,15.916000,13.257333,41.960000,9.205333,7.910667,22.814667,11.117333,4.798161
53,23.634183,25.860396,40.137500,26.087500,16.975000,4.850000,11.975000,30.562500,12.237500,12.925000,17.737500,14.150000,12.400000,79.137500,23.844866,67.450000,13.687500,8.375000,10.500000,12.387500,33.737500,30.800000,36.962500,9.852393
21,59.759862,61.210011,14.239906,30.930516,24.112676,8.553052,22.175587,22.581221,12.182629,12.515493,17.210798,19.266197,16.242723,80.580282,35.209268,57.358685,17.775117,10.780282,14.089202,14.002347,20.133803,30.135681,18.809390,6.613734
49,73.058417,75.978359,24.934375,33.970312,21.620313,6.168750,13.306250,24.325000,8.798438,12.578125,19.195312,19.242188,15.859375,81.340625,99.683391,55.226562,18.846875,11.018750,14.900000,25.782812,17.560938,30.815625,20.003125,5.210706
51,61.167490,65.981433,32.805000,34.145000,17.810000,4.675000,10.570000,23.400000,8.605000,11.815000,19.085000,20.200000,16.900000,82.005000,99.859131,71.280000,13.795000,6.630000,8.300000,19.575000,31.105000,32.220000,28.380000,8.433061
24,65.711825,71.105619,19.878889,36.102778,22.639444,6.867778,14.507778,21.576667,7.758333,10.625000,17.407222,21.830000,20.809444,82.806111,99.647719,65.006111,16.142778,8.768889,10.082778,20.370556,21.936667,31.206111,20.592778,7.219477
48,72.254544,73.583550,21.821212,34.503030,21.121212,7.351515,15.212121,27.084848,8.748485,12.306061,18.245455,18.906061,14.672727,83.063636,61.557651,50.654545,19.742424,12.551515,17.024242,26.833333,16.172727,31.151515,18.236364,5.307707
25,51.641852,49.231496,8.360535,25.313378,21.758863,9.116722,35.446823,22.507692,10.968227,13.186957,18.902676,19.891304,14.536789,83.959532,15.869546,41.206355,18.472575,13.383612,26.942140,11.748495,12.142140,26.173244,13.156856,5.203123
57,44.662553,37.213778,12.700000,20.700000,19.100000,8.000000,39.500000,9.850000,50.400000,8.000000,8.650000,12.000000,11.100000,84.400000,2.178632,64.750000,15.550000,7.500000,12.200000,8.050000,28.850000,28.300000,20.100000,7.291041
33,74.286328,75.830504,24.354545,32.600000,21.554545,7.045455,14.459091,27.631818,8.322727,12.722727,17.809091,19.159091,14.345455,85.390909,100.000000,47.450000,20.850000,12.877273,18.831818,38.540909,13.440909,31.195455,17.250000,3.854738
0,60.149892,63.292547,12.457019,33.490497,22.833909,9.179806,22.040713,23.035637,9.614039,12.144816,18.221706,20.545356,16.431102,85.680022,39.950430,50.145572,19.293629,12.557667,18.007559,17.634665,14.933153,30.781102,15.901944,5.824436
15,61.412812,64.169590,12.038168,33.041221,23.179389,8.547328,23.193130,21.008397,7.672519,10.163359,17.832824,23.325954,19.996183,85.729771,96.711976,47.121374,19.508397,13.135878,20.231298,13.671756,12.987023,29.200763,14.366412,5.652845
46,50.156953,48.190136,7.518750,24.622917,21.100000,8.445833,38.318750,19.158333,22.997917,13.729167,15.379167,16.375000,12.345833,86.010417,26.089312,53.391667,17.291667,11.258333,18.052083,11.710417,21.243750,27.395833,15.768750,4.861279
27,55.021512,57.549769,10.778302,31.550943,23.418868,9.358491,24.884906,20.475472,8.797170,11.674528,17.222642,21.293396,20.511321,86.613208,15.368919,52.033019,19.017925,11.680189,17.273585,11.260377,15.213208,28.455660,15.530189,6.291650
44,60.100637,59.709930,8.558824,28.795294,22.767059,9.614118,30.260000,24.976471,8.905882,12.656471,20.254118,20.135294,13.062353,86.918824,26.059414,34.282353,18.744706,14.995294,31.976471,16.248235,8.527059,29.114118,12.431765,4.806092
56,56.520176,61.526148,14.494118,35.523529,22.488235,7.523529,19.976471,21.564706,11.088235,12.735294,18.158824,19.623529,16.805882,87.047059,12.708029,61.388235,17.547059,9.376471,11.700000,16.723529,21.064706,30.841176,18.611765,6.212430
2,65.727843,72.156954,16.990130,39.057592,21.283623,7.740672,14.926139,22.103905,7.870390,10.877115,17.897072,21.851193,19.399024,87.117896,96.734544,58.608785,18.338720,10.573319,12.481887,22.314751,18.008026,32.456941,18.239479,6.501271
43,52.449188,53.588982,9.496296,27.303704,21.529630,7.948148,33.733333,18.577778,23.248148,12.192593,14.985185,17.188889,13.792593,87.574074,49.942106,57.844444,16.918519,10.866667,14.400000,11.644444,23.496296,29.188889,16.992593,5.722842
5,63.291160,69.101354,15.449501,37.696115,21.504329,8.469367,16.884129,22.498557,8.709767,11.338513,18.197891,21.280355,17.973807,87.926748,67.253498,55.955605,18.865705,11.329301,13.851165,20.680466,17.211210,32.164262,17.587791,6.626545
50,77.396111,79.870132,16.457576,31.351515,23.006061,8.800000,20.387879,25.433333,7.315152,11.890909,17.318182,21.584848,16.469697,89.330303,100.000000,41.281818,19.175758,13.351515,26.196970,34.769697,9.778788,29.981818,14.333333,3.215021
26,55.518931,56.020476,8.112579,28.526415,21.331447,9.505660,32.513208,22.354088,9.738994,11.535220,19.070440,21.589937,15.696855,89.725786,45.923892,37.940252,18.680503,14.350314,29.028302,13.514465,9.771698,27.410063,12.110063,4.959644
32,61.370033,66.953054,13.409532,36.761872,22.260832,9.029116,18.543154,22.621317,8.961005,11.702253,17.999653,20.996707,17.717504,90.253033,42.988967,54.088908,19.297227,11.802426,14.812478,20.296360,16.046794,31.811265,16.682842,6.148950
22,56.649801,60.487056,10.258592,32.345070,23.038873,9.749014,24.611831,21.126479,9.042254,11.134366,17.611549,22.176620,18.903099,92.033521,53.806282,49.603380,19.340282,12.762254,18.305352,15.626761,13.655493,28.525915,13.842254,5.862944
36,68.688653,75.511909,21.757333,39.464000,19.104000,6.806667,12.876000,22.594667,8.498667,11.540000,18.792000,20.878667,17.709333,92.280000,63.767870,65.462667,16.398667,8.538667,9.600000,21.285333,23.508000,34.376000,22.916000,8.407861
35,60.075733,65.608046,11.052244,36.551346,21.857989,9.696768,20.847397,22.386715,8.640395,11.209874,18.271454,21.805745,17.681508,93.171993,61.912373,48.316517,20.077199,13.300000,18.308438,19.512029,12.892280,30.794794,14.118492,5.674035
18,66.053823,71.426111,11.406838,35.924929,23.681766,9.530769,19.458974,21.453846,7.187892,9.966809,16.753276,23.206695,21.430769,93.849573,97.822282,52.452849,19.675641,12.262536,15.610399,21.927920,13.357265,30.127208,13.995157,5.320069
41,68.626425,75.590640,15.587284,38.659052,21.908190,8.121983,15.725216,22.242241,7.360991,10.307543,17.144397,22.337716,20.605388,94.064009,99.246508,58.607974,18.534267,10.731681,12.129526,26.440302,16.766810,31.427802,17.030388,5.812248
23,57.401227,57.906673,7.143396,28.584906,23.830189,9.230189,31.211321,20.058491,6.698113,9.243396,17.905660,25.620755,20.466038,94.069811,96.955076,40.983019,19.669811,14.283019,25.047170,12.941509,9.245283,25.724528,11.313208,4.828012
37,68.522562,76.845451,21.504737,40.353158,19.384211,6.595789,12.160000,21.268947,7.776316,10.867368,18.694737,22.067895,19.330526,94.470526,98.624128,65.580526,16.431053,8.730526,9.262632,19.309474,22.972632,33.714737,21.995789,8.169601
45,59.960727,67.744987,12.175269,39.898118,20.775269,9.580108,17.576613,22.500806,8.461559,11.131720,18.151075,21.720968,18.037903,94.636022,60.318489,51.938978,20.134946,12.639785,15.284677,24.544086,14.072043,31.844892,15.156183,5.943220
42,67.126282,73.618653,12.388268,37.885196,23.059777,8.734916,17.928771,20.555587,6.754469,9.416760,16.040782,23.791061,23.441341,94.660615,99.615881,58.683240,18.358939,10.504190,12.451955,22.996089,15.719553,30.282123,15.341061,5.843406
34,66.467242,72.811064,11.332681,37.913404,22.663705,9.627711,18.466265,22.258283,7.279217,10.287651,17.040663,22.845331,20.288253,94.954669,97.269234,50.780572,20.235392,12.768373,16.218825,24.987199,12.550000,30.922892,13.907831,4.957648
47,71.241658,74.669768,9.125490,31.098039,24.300000,11.092157,24.401961,24.023529,7.145098,10.543137,17.398039,22.470588,18.417647,95.803922,99.263012,38.207843,20.709804,15.005882,26.068627,25.282353,7.678431,29.582353,11.462745,3.423220
40,65.210884,73.716369,10.147573,41.828155,21.185437,9.784466,17.057282,21.682524,6.764078,9.711650,16.162136,23.968932,21.699029,96.654369,99.753471,54.915534,19.524272,11.612621,13.943689,32.310680,13.325243,30.780583,13.708738,4.805610
52,84.375000,89.230769,25.400000,31.300000,32.800000,7.500000,3.000000,7.900000,3.900000,0.000000,18.400000,44.800000,25.000000,96.900000,100.000000,45.900000,10.800000,32.400000,10.800000,41.000000,16.400000,31.200000,24.600000,5.000000

In [ ]:
ball_means.to_csv('Outputs/US_ballmeans.csv')